.wrapper {
  background-image: url("/public/images/qrbwrapon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
.wrapper-down {
  position: absolute;
  border: 1px solid black;
  height: 70%;
  bottom: 0%;
  background: linear-gradient(1.28deg, #000000 0.91%, rgba(0, 0, 0, 0) 98.77%);
}
