body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
.wrapper-down {
  position: absolute;
  /*border: 1px solid black;*/
  height: 70%;
  bottom: 0%;
  background: linear-gradient(1.28deg, #000000 0.91%, rgba(0, 0, 0, 0) 98.77%);
}
.wr-sec {
  position: absolute;
  width: 100%;
  bottom: 7%;
}
.bg-them {
  background-color: #252525;
}
#myHeader {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.mobile-menu {
  background-color: white;
  color: black;
  position: fixed;
  right: 0%;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20%;
  z-index: 2;
  top: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.overlay {
  position: fixed;
  top: 0%;
  height: 100%;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
}
.svg-icon {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}
.mm-db {
  position: absolute;
  width: inherit;
  bottom: 5%;
}
.q-font-weight-bold {
  font-weight: 900;
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.br-0 {
  border-radius: 0;
}
.custom-modal {
  position: fixed;
  top: 25%;
  height: 50%;
  width: 90%;
  left: 5%;
  background-color: white;
  z-index: 3;
}
.slings {
  border: 2px solid black !important;
  opacity: 1;
}
.to-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ww-25 {
  width: 25% !important;
}
.cover {
  position: fixed;
  top: 0%;
  background-color: #eee;
  height: 100%;
  width: 100%;
  left: 0%;
  z-index: 3;
}
.bor-btm-black {
  border-bottom: 1px solid black !important ;
}
.d-contents {
  transition: 5.5s ease;
  display: contents;
}
.showw {
  display: contents;
  position: static;
  opacity: 1;
  transition: opacity 1s linear;
}
.not-showw {
  position: absolute;
  opacity: 0;
  height: 0%;
  top: -5%;
}
.bg-highlight {
  animation: toColor 2s;
}
@keyframes toColor {
  0% {
    background-color: white;
  }
  25% {
    background-color: rgb(206, 204, 204);
  }
  50% {
    background-color: white;
  }
  75% {
    background-color: rgb(206, 204, 204);
  }
  100% {
    background-color: white;
  }
}
.min-width-maxcon {
  min-width: max-content;
}
.border-bottom-drk {
  border-bottom: 2px solid black;
}
.sticky {
  transition: 0.5s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
.sticky + .content {
  padding-top: 102px;
}
.rotate-icon {
  transition: 0.5s ease;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.counter-rotate-icon {
  transition: 0.5s ease;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.trans-up {
  transform: scale(2);
}
.date-selected {
  background-color: black;
  color: white;
}
select {
  appearance: none !important;
}
.fs-14 {
  font-size: 14px;
}
.py-bt {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}
.pe-bt {
  padding-right: 0.4rem !important;
}
.ps-bt {
  padding-left: 0.4rem !important;
}

/*new index*/
.videoBg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.bg-wrapper {
  position: fixed;
  width: 100%;
  bottom: 7%;
}
.animate__animated.animate__slideInRight {
  --animate-duration: 0.5s;
}
.animate__animated.animate__slideOutRight {
  --animate-duration: 0.5s;
}
