.sp-details {
  h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    &:not(:last-child):after {
      content: "|";
      display: inline-block;
      color: #ffffff;
      position: absolute;
      top: -5px;
      right: 0;
    }
    &:not(:last-child) {
      padding-right: 20px;
      margin-right: 20px;
      position: relative;
    }
  }
}
.sp-details {
  li {
    &:not(:last-child):after {
      top: 0;
      color: #ffffff;
      line-height: 20px;
    }
  }
}
.covers-list {
  display: flex;
  padding: 20px;
  overflow: auto;
  li {
    list-style-type: none;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.cover-item {
  display: flex;
  width: 136px;
  height: 216px;
  align-items: center;
  justify-content: center;
  background: #dadada;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
label {
  &.cover-item {
    cursor: pointer;
    margin: 0;
    padding: 0;
    input[type="file"] {
      display: none;
    }
    img {
      object-fit: none;
      pointer-events: none;
      height: 35px;
      width: 35px;
    }
  }
}
